{
  "extends": "../.eslintrc",
  "env": {
    "mocha": true
  },
  "globals": {
    "Redis": true,
    "suite": true,
    "setup": true,
    "test": true,
    "Map": true,
    "expect": true,
    "stub": true,
    "MockServer": true
  },
  "rules": {
    "no-new": 0,
    "handle-callback-err": 0
  }
}
