name: Release

on: workflow_dispatch

concurrency:
  group: release_version
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/test.yml
  release:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - run: npm ci
      - run: npm run build
      - run: npm run docs
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GIT_AUTHOR_NAME: "ioredis robot"
          GIT_AUTHOR_EMAIL: "ioredis-robot@zihua.li"
        run: npx semantic-release
