on:
  workflow_call:
    inputs:
      branch:
        required: false
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [12.x, 14.x, 16.x, 18.x]
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ inputs.branch || github.event.pull_request.head.ref || github.ref_name }} 

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Start Redis
        uses: supercharge/redis-github-action@1.4.0
        with:
          redis-version: latest

      - run: npm install
      - run: npm run lint
      - run: npm run build
      - run: npm run test:tsd
      - run: npm run test:cov || npm run test:cov || npm run test:cov
      - name: Coveralls
        if: matrix.node == '18.x'
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: node-${{matrix.node}}
          parallel: true

  # test-cluster:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Build and test cluster
  #       run: bash test/cluster/docker/main.sh

  code-coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
